@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

h2 {
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

ul {
    list-style: none;
}

li {
    font-family: 'Crimson Text', serif;
    font-size: 2em;
    color: #fbfbfb;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}

p {
    font-family: 'Crimson Text', serif;
}

/* Interrogation Class */
.interrogationContainer {
    background-color: #000398;
    border-radius: 8px;
    width: 75%;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
    position: relative;
}

.nextButton {
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #e99309;
    color: #ffffff;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    position: relative;
    margin: auto;
    padding-top: 20px;
    cursor: pointer;
}

.nextButton:hover{
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #2be909;
    color: #000000;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    position: relative;
    margin: auto;
    padding-top: 20px;
}
.question {
    font-family: 'Crimson Text', serif;
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
}

.interrogationMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family: 'Crimson Text', serif;
    color: red; 
}

.options {
    font-family: 'Crimson Text', serif;
    color: blueviolet;
}

.result {
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Crimson Text', serif;
}